<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://master1:9000</value>
    </property>

    <property>
        <name>hadoop.tmp.dir</name>
        <value>{{ hadoop_tmp_path }}</value>
    </property>
</configuration>
