<configuration>
    <property>
        <name>dfs.datanode.name.dir</name>
        <value>file:{{ hadoop_datanode_path }}</value>
    </property>

    <property>
        <name>dfs.replication</name>
        <value>{{ hadoop_default_replication }}</value>
    </property>
</configuration>
